/*Poppins font-family*/

@font-face {
  font-family: "poppins-light";
  src: url("../Fonts/Poppins/Poppins-Light.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-regular";
  src: url("../Fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "poppins-medium";
  src: url("../Fonts/Poppins/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-semibold";
  src: url("../Fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "poppins-bold";
  src: url("../Fonts/Poppins/Poppins-Bold.ttf") format("truetype");
}

/*Rubik font-family*/

@font-face {
  font-family: "rubik-light";
  src: url("../Fonts/Rubik/Rubik-Light.ttf") format("truetype");
}
@font-face {
  font-family: "rubik-regular";
  src: url("../Fonts/Rubik/Rubik-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "rubik-medium";
  src: url("../Fonts/Rubik/Rubik-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "rubik-semibold";
  src: url("../Fonts/Rubik/Rubik-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "rubik-bold";
  src: url("../Fonts/Rubik/Rubik-Bold.ttf") format("truetype");
}

/*Raleway font-family*/

@font-face {
  font-family: "raleway-light";
  src: url("../Fonts/Raleway/Raleway-Light.ttf") format("truetype");
}
@font-face {
  font-family: "raleway-regular";
  src: url("../Fonts/Raleway/Raleway.ttf") format("truetype");
}

@font-face {
  font-family: "raleway-medium";
  src: url("../Fonts/Raleway/Raleway-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "raleway-semibold";
  src: url("../Fonts/Raleway/Raleway-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "raleway-bold";
  src: url("../Fonts/Raleway/Raleway-Bold.ttf") format("truetype");
}
