.banner-img {
  background: url("../images/Main-banner.jpg");
  height: 100vh;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  .text-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    .left-section-text {
      border: 10px solid rgba(34, 32, 32, 0.5);
      border-right: none;
      align-self: center;
      text-align: center;
      h1 {
        font-family: poppins-bold;
        color: white;
        font-size: 170px;
      }
    }

    .right-section-text {
      align-self: center;
      border: 15px solid white;
      border-left: none;
      padding-top: 20px;
      padding-bottom: 20px;
      h1 {
        font-family: poppins-bold;
        color: white;
        font-size: 77px;
        text-align: center;
        // padding-right: 50px;
      }
    }
  }
}
