* {
  box-sizing: border-box;
}
.main-header {
  .banner-img {
    background: url("../images/Main-banner.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    // height: 100vh;

    .icon {
      color: white;
    }
    .navbar-brand {
      padding-left: 20px;
    }
    .navbar-toggle-button {
      padding-right: 20px;
    }
    .navbar {
      background-color: transparent;
      padding-bottom: 0px;
    }
    .colorChange {
      background-color: rgb(21, 75, 123);
      transition: 0.3s ease-in-out;
    }
    .background {
      background-color: rgb(21, 75, 123);
      transition: 0.3s ease-in-out;
    }
    .navbar-toggler:focus {
      box-shadow: none;
    }
    .nav-links-background {
      color: white !important;
      padding-left: 2rem;
      padding-bottom: 0.75rem;
      border-bottom: 1px solid white;
    }
    .logo-img {
      width: 95px;
    }
    .wrapper {
      width: 80%;
      margin: auto;
      height: 85vh;
      display: flex;
      align-items: center;
      .Typewriter__cursor {
        display: none;
      }
      .left-text-section {
        width: 50%;
        .border-top-text {
          color: white;
          font-family: "rubik-medium";
          font-size: 16px;
          text-align: right;
          letter-spacing: 1px;
          word-spacing: 1.5px;
          margin-right: 5px;
        }
        .border-bottom-text {
          color: white;
          font-family: "rubik-medium";
          font-size: 16px;
          text-align: right;
          letter-spacing: 1.2px;
          word-spacing: 4px;
          margin-right: 5px;
        }
        .left-heading {
          width: fit-content;
          margin-left: auto;
          border: 10px solid rgba(34, 32, 32, 0.5);
          border-right: none;
          padding: 5px 15px 5px 50px;
          h1 {
            font-size: 120px;
            font-family: poppins-bold;
            color: white;
          }
        }
      }
      .right-text-section {
        width: 50%;
        .right-heading {
          border: 18px solid #fff;
          border-left: none;
          width: fit-content;
          padding: 35px 50px 35px 20px;
          h1 {
            font-size: 45px;
            font-family: poppins-bold;
            color: white;
          }
        }
      }
    }
    .down-arrow-icon {
      cursor: pointer;
    }
  }
  @media screen and (min-width: 512px) and (max-width: 674px) {
    .banner-img {
      background-position: center;
      background-size: cover;
      .wrapper {
        .left-text-section {
          .border-top-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 12px;
            text-align: right;
            letter-spacing: 1px;
            word-spacing: 0.5px;
            margin-right: 5px;
          }
          .border-bottom-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 12px;
            text-align: right;
            letter-spacing: 1.2px;
            word-spacing: 1px;
            margin-right: 5px;
          }
          .left-heading h1 {
            font-size: 80px;
            font-family: poppins-bold;
            color: white;
          }
        }
        .right-text-section {
          .right-heading {
            border: 18px solid #fff;
            border-left: none;
            width: fit-content;
            padding: 10px 30px 10px 10px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 511px) {
    .banner-img {
      .wrapper {
        .left-text-section {
          .border-top-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 9px;
            text-align: right;
            word-spacing: 0px;
            margin-right: 0px;
          }
          .border-bottom-text {
            color: white;
            font-family: "rubik-medium";
            font-size: 9px;
            text-align: right;
            word-spacing: -0.5px;
            margin-right: 2px;
            margin-top: 3px;
          }
          .left-heading h1 {
            font-size: 55px;
            font-family: poppins-bold;
            color: white;
          }
          .left-heading {
            width: -moz-fit-content;
            width: fit-content;
            margin-left: auto;
            border: 10px solid rgba(34, 32, 32, 0.5);
            border-right: none;
            padding: 5px 15px 5px 40px;
          }
        }
        .right-text-section {
          .right-heading h1 {
            font-size: 25px;
            font-family: poppins-bold;
            color: white;
          }
          .right-heading {
            border: 18 px solid #fff;
            border-left: none;
            width: fit-content;
            padding: 18px 30px 18px 10px;
          }
        }
      }
    }
  }

  @media screen and (max-width: 386px) {
    .banner-img {
      .wrapper {
        .left-text-section {
          .border-top-text,
          .border-bottom-text {
            display: none;
          }
          .left-heading h1 {
            font-size: 55px;
            font-family: poppins-bold;
            color: white;
          }
          .left-heading {
            width: -moz-fit-content;
            width: fit-content;
            margin-left: auto;
            border: 10 px solid rgba(34, 32, 32, 0.5);
            border-right: none;
            padding: 10px 10px 5px 20px;
          }
        }
        .right-text-section {
          .right-heading {
            border: 15px solid #fff;
            border-left: none;
            width: -moz-fit-content;
            width: fit-content;
            padding: 20px 25px 20px 10px;
          }
          .right-heading h1 {
            font-size: 24px;
            font-family: poppins-bold;
            color: white;
          }
        }
      }
    }
  }
}
