.teem-wrapper {
  scroll-margin: 49px;
  overflow: hidden;
  .main-heading {
    font-family: "raleway-medium";
    font-size: 46px;
    text-align: center;
    color: #113c62;
    padding-top: 40px;
  }
  hr {
    width: 5%;
    margin: auto;
    color: #77bf43;
    border: 1px solid #77bf43;
    opacity: 1;
  }
  .text-para {
    font-family: "poppins-light";
    font-size: 14px;
    text-align: center;
    padding-top: 20px;
  }
  .box-wrapper {
    display: flex;
    flex-wrap: wrap;
    .title {
      font-family: "raleway-bold";
      font-size: 22px;
      text-transform: uppercase;
    }
    .sub-title {
      font-family: "raleway-semibold";
      font-size: 18px;
      text-transform: capitalize;
    }
    .about-section {
      font-family: "poppins-regular";
      font-size: 14px;
      padding-top: 10px;
      padding-bottom: 20px;
      p {
        width: 88%;
        margin-right: auto;
      }
    }
    .text-box {
      padding-top: 20px;
      padding-left: 20px;
      padding-bottom: 20px;
      flex-basis: 25%;
      overflow: hidden;
    }
    .text-box:hover {
      background: #154b7b;
      color: white;
    }
    .image-box {
      background-position: center !important;
      background-size: cover !important;
      background-repeat: no-repeat !important;
      flex-basis: 25%;
      overflow: hidden;
    }
    .parent-box {
      display: flex;
      width: 50%;
      .img-width {
        flex-basis: 50%;
      }
      .text-box-width {
        flex-basis: 50%;
      }
    }

    .box-1 {
      background: url("../images/team/team-zeeshan.jpg");
      flex-basis: 25%;
      overflow: hidden;
    }

    .box-3 {
      background: url("../images/team/team-nadeem.jpg");
      overflow: hidden;
    }
    .box-6 {
      background: url("../images/team/team-waqas.jpg");
      overflow: hidden;
    }
    .box-8 {
      background: url("../images/team/team-sikandar.jpg");
      overflow: hidden;
    }
    .box-9 {
      background: url("../images/team/team-shaz.jpg");
      overflow: hidden;
    }
    .box-11 {
      background: url("../images/team/team-raweewan.jpg");
      overflow: hidden;
    }
    @media screen and (max-width: 768px) {
      .text-box {
        flex-basis: 50%;
      }
      .image-box {
        flex-basis: 50%;
      }
      .parent-box {
        width: 100%;
        flex-direction: row-reverse;
      }
    }
    @media screen and (max-width: 575px) {
      .text-box {
        flex-basis: 100%;
      }
      .image-box {
        flex-basis: 100%;
        height: 280px;
        background-position: top right !important;
      }
      .parent-box {
        width: 100%;
        flex-wrap: wrap;
        .img-width {
          flex-basis: 100%;
        }
        .text-box-width {
          flex-basis: 100%;
        }
        .order-text {
          order: 2;
        }
        .order-img {
          order: 1;
        }
      }
      .order-text-two {
        order: 5;
      }
      .order-img-two {
        order: 4;
      }
    }
  }
  @media screen and (max-width: 768px) {
    .main-heading {
      font-size: 30px;
      text-align: center;
    }
    .text-para {
      width: 80%;
      margin: auto;
    }
  }
  @media screen and (max-width: 575px) {
    .main-heading {
      font-size: 20px;
    }
  }
}
